<footer class="footer">
  <small>
    The Booze Hound |
    Copyright &copy; 2021 AwesomeBar, Inc. All rights reserved |
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://gist.github.com/dwyn/a83c01b70cacdbf5162899a47ef230b6">News</a></li>
    </ul>
  </nav>
</footer>